{
  "name": "${node_pkg}",
  "version": "${node_version}",
  "repository": {
    "type": "git",
    "url": "https://github.com/barrymichaeldoyle/patch-pulse-cli"
  },
  "author": "Barry Michael Doyle <barry@barrymichaeldoyle>",
  "os": [
    "${node_os}"
  ],
  "cpu": [
    "${node_arch}"
  ]
}